*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(134, 134, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card
{
    background-color: rgb(87, 87, 255);
    width: 350px;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inp
{
    height: 18px;
    margin: 7px;
    padding: 18px;
    background-color: white;
    border: none;
    border-radius: 3px;
}


.btn
{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    margin: 5px 10px;
    width: 100px;
    height: 50px;
    background-color: white;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.container
{
    
    width: 375px;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 15px;
}

.check
{
    background-color: white;
    background-color: white;
    width: 341px;
    border: rgb(5, 5, 5);
    padding: 15px 17px;
    border-radius: 15px;
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
}

h1{
    color: rgb(34, 34, 34);
    font-family: 'Rubik', sans-serif;
    font-size: 27px;
}
h2{
    color: rgb(44, 44, 44);
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

#delete
{
    border: none;
    background-color:  rgb(87, 87, 255);
    padding: 6px;
    margin-top: 18px;
    color: white;
    border-radius: 3px;
    float: right;
    width: 70px;
}

